<div class="remove-container container-block">
  <h2 class="container-block-title">
    All publications 
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://scholar.google.ca/citations?hl=en&user=LMu60kjth8EC&view_op=list_works&sortby=pubdate&inst=7575085548378563675">GOOGLE SCHOLAR</a></li>
     <li><a class="github-button" href="" data-icon="octicon-star" data-show-count="true" aria-label=""></a>
     <script async defer src=""></script>
  </ul>
</div><!--//About-->
